/data_output
/data_temp
/logs
.spyproject/*
*test*
*DEV*
*/__pycache__
*.sublime* 
*.gdx
data_input/old/
*__pycache__*
*.pylint.d*
docs/build/
pomato/logs/
docs/_build/
*.lst
*.opt
pomato/ENS_pomato_gms/model.log
*.lxi
*ENS*
