/data_output
/data_temp
/logs
*DEV*
*/__pycache__
*__pycache__*
docs/build/
pomato/logs/
docs/_build/
*.lst
*.opt
*.lxi
build/
dist/
*egg*
.vscode/settings.json
pomato/_installation/pomato
pomato/cbco/.pylint.d/pomato.cbco.cbco_module1.stats
pomato.sublime-workspace
